.jumbotron {
  padding-top: 6rem;
  background-color: #0099ff;
}

.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
}

#projects {
  background-color: #0099ff;
}

section {
  padding-top: 5rem;
}
